<h3>Bookmarks, posts and snippets:</h3>
<ul id="likes">
<%= for post <- posts do %>
<li>
  <span class="date"><%= post.date %> - </span>
  <%= if post.url do %>
  <a href="<%= post.url %>"><%= post.title %></a>
  <% else %>
  <strong><%= post.title %></strong>
  <% end %>

  <%= if post.description do %>
  <p>
  <%= Enum.join(post.description, "</p><p>") %>
  </p>
  <% end %>
</li>
<% end %>
</ul>
